 
.entree {
    height: 100vh;
    background-color: rgb(206, 204, 252);
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
  }
  .card {
    height:90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    font-style: normal;
    min-height: 600px;
    overflow: hidden;
  }
  
  .top {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("../../assets/Abanner2.png")
        center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
  }
  .bottom {
    flex: 1;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .entreprise{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .dropdown {
    flex-grow: 1; /* Allow the dropdown to grow and take up available space */
}
.toggle{
  display: inline-block;
  min-width: auto; /* Adjust min-width to suit your needs */
  max-width: 100%;
}
.entreprise h2 {
    margin-right: 10px; /* Add spacing between h2 and dropdown */
  }
 
.addBtn{
    display: flex; /* Make the container a flex container */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 10px;
}
.addBtn button{
  width: 20%;
  color: white;
}

  
 tr :hover{
    cursor: pointer;
 }
 .content{
    justify-content: center;
    overflow-y: auto;/* Enable vertical scrolling */
    overflow-x: auto; 
    min-height: 200px;
 }
 .tableContainer {
  max-height: 300px; /* Set max-height for the table container */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: auto;
}
    
 @media only screen and (max-width: 768px) {
    .card {
      width: 90%;
    }
  
    .entreprise {
      width: 100%;
    }
    .toggle {
      /* Adjust styles for smaller screens */
      width: auto; /* Set width to auto to allow it to grow based on text size */
      /* Add any other styles as needed */
    }
   
  }